/* TEXT FIELD */
.inputField {
  margin-bottom: 20px;
  text-align: left;
  border-radius: 25%;
}

.inputField label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #555;
}

.inputField input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border 0.2s ease;
}

.inputField input:focus {
  border-color: #4e54c8;
  box-shadow: 0 0 0 3px rgba(78, 84, 200, 0.2);
}

/* PASSWORD FIELD */
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px; /* space for eye icon */
  box-sizing: border-box;
}

.toggle-password {
  position: absolute;
  right: 12px;
  color: #555;
  font-size: 18px;
  cursor: pointer;
}

.toggle-password:hover {
  color: #000;
}

/* PRIMARY BUTTON */
.primaryButton{
  background: var(--header1);
  border: 3px solid var(--primary);
  text-align: center;
  font-weight: bold;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.primaryButton:hover{
  background: linear-gradient(to right, var(--header1), var(--header2));
 
}

/* OUTLINE BUTTON */
.outlineButton{
  background-color: var(--background);
  border: 3px solid var(--primary);
  text-align: center;
  font-weight: bold;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  color: var(--primary);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.outlineButton:hover{
  background-color: var(--primary);
  color: white;
  
}

